<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>675428021204-a32gdq92hdp0jrm32lvjqfav8p1506gs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675428021204-a32gdq92hdp0jrm32lvjqfav8p1506gs</string>
	<key>API_KEY</key>
	<string>AIzaSyCtwmgg-SE3o5JixQa1pXYLEfzJsKseWas</string>
	<key>GCM_SENDER_ID</key>
	<string>675428021204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wireup.WireUp-Finland</string>
	<key>PROJECT_ID</key>
	<string>wireup-finland</string>
	<key>STORAGE_BUCKET</key>
	<string>wireup-finland.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675428021204:ios:be80e16a30c1f7c1</string>
	<key>DATABASE_URL</key>
	<string>https://wireup-finland.firebaseio.com</string>
</dict>
</plist>